/* Общий файл стилей для всего проекта. */
/* промежуток между ссылками */
.links a+a {                     
    margin-left: 20px;          /* отступ слева */
}

/* таблица */
table {                           
    border: 1px solid grey;     /* внешние границы таблицы серого цвета толщиной 1px */
    border-collapse: collapse;  /* Убрать промежутки между ячейками таблицы */
    width: 100%;                /* сделает ширину таблицы равной ширине блока контейнера, в котором она находится */
	table-layout: fixed;        /* фиксированная ширина ячеек */
	word-wrap: break-word;      /* старый вариант переноса слов */
	overflow-wrap: break-word;  /* новый вариант переноса слов */
	text-align: center;         /* выравнивание по центру ячейки */
} 

/* ячейки */
th,td {                           
    border: 1px solid grey;     /* границы ячеек первого ряда таблицы */
	padding: 5px;               /* внешний отступ текста ячеек*/     
}

/* ширина ячейки таблицы equips в % от ширины блока контейнера*/  
.row1{                           
    width: 5%;                  
}

.row2{                           
    width: 20%;                 
}

.row3{                           
    width: 5%;                 
}

.row4{                           
    width: 10%;                    
}

.row5{                           
    width: 10%;                 
}

.row6{                           
    width: 10%;                 
}

.row7{                           
    width: 10%;                 
}

.row8{                           
    width: 10%;                 
}

.row9{                           
    width: 20%;                 
}

/* ширина ячейки таблиц incomes и expenses в % от ширины блока контейнера*/  
.row11{                           
    width: 5%;                  
}

.row12{                           
    width: 35%;                 
}

.row13{                           
    width: 5%;                    
}

.row14{                           
    width: 20%;                    
}

.row15{                           
    width: 10%;                 
}

.row16{                           
    width: 10%;                 
}

.row17{                           
    width: 10%;                 
}

.row18{                           
    width: 10%;                 
}

/* Горизонтальное расположение элементов */
.fieldgroup{
   float: left;
   width: auto;
   margin-left: 3em;
}


